.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #707070;
    position: relative;

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        text-transform: uppercase;
        margin: 0;
    }

    .back {
        position: absolute;
        left: 10px;
        top: 30px;
    }
}

ion-icon {
    width: 30px;
    height: 30px;
    stroke: #444;
    fill: #707070;
}