<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-content>
      <ng-container *ngIf="package">
        <div class="row">
          <span class="bold bold__black">{{package.Reference}}</span>
          <span class="bold bold__red">{{package.Location}}</span>
        </div>
        <div class="row">
          <span class="">{{package.ModificationDate | date: 'dd/MM/yyyy' }}</span>
          <!-- <div class="" style="text-align: center;">NINESTAR
          <div>NS19-02</div>
        </div> -->
        </div>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="package">
    <app-item (update)="update($event)" [errors]="errors"></app-item>
  </ng-container>
</ion-content>