<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="detailsForm">
        <ion-item>
          <ion-label>Barcode</ion-label>
          <ion-input formControlName="barCode" autofocus="true"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
    <p class="loading">{{loading$}}</p>
    <button (click)="loadingTrue(true)" class="true">Loading TRUE</button>
    <button (click)="loadingFalse(false)" class="false">Loading FALSE</button>
  </ion-card>

</ion-content>