<ion-content>
  <app-header></app-header>
  <ion-card>
    <ion-card-content *ngIf="items && !errors.length">
      <div class="row">
        <span class="bold bold__black">{{items.Reference}}</span>
        <span class="bold bold__red">{{items.Location}}</span>
      </div>
      <div class="row">
        <span class="">{{items.ModificationDate | date: 'dd/MM/yyyy' }}</span>
        <!-- <div class="" style="text-align: center;">NINESTAR
          <div>NS19-02</div>
        </div> -->
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="orderItems">
      <div *ngIf="loading" style="text-align: center;">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
      <ng-container *ngIf="items && !errors.length">
        <ion-list *ngFor="let item of items.Detail; let last = last;" class="item">
          <ion-label text-wrap>
            <div><span class="bold bold--small bold__red">{{item.Quantity}}</span> x <span
                class="bold bold--small bold__black">{{item.Description}}</span></div>
            <div>{{item.Barcode}}</div>
            <div>{{item.Sku}}</div>
          </ion-label>
          <div class="line" *ngIf="!last"></div>
        </ion-list>
      </ng-container>
      <ion-row *ngIf="errors.length">
        <ion-col size="12">
          <p *ngFor="let item of errors">{{item.Text}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row *ngIf="items && !errors.length">
    <ion-col size="6">
      <ion-button color="primary" shape="round" expand="full" (click)="navigate('publish')">Ubicar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="secondary" shape="round" expand="full" (click)="navigate('delete')">Delete</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="tertiary" shape="round" expand="full" (click)="navigate('edit')">Editar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="success" shape="round" expand="full">dsadasas</ion-button>
    </ion-col>
  </ion-row>
</ion-content>