<ion-card>
  <ion-card-content>
    <ion-row justify-content-center align-items-center>
      <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
        <ion-col size="12">
          <ion-item>
            <ion-label>Barcode</ion-label>
            <ion-input formControlName="barcode" autofocus="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>Quantity:</ion-label>
            <ion-input type="number" formControlName="quantity"></ion-input>
          </ion-item>
        </ion-col>
        <ng-container *ngFor="let error of errors;">
          <ion-col size="12">
            <p class="red">{{error.Text}}</p>
            <div *ngIf="error.Reference === 'ERR001'">
              <ion-button expand="block" (click)="navigate()" type="button" color="medium">
                Crear codigo de barra!
              </ion-button>
            </div>
          </ion-col>
        </ng-container>
        <ion-col size="12">
          <ion-button color="success" shape="round" type="submit" expand="full">Actualizar
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button color="primary" shape="round" type="button" (click)="presentAlertConfirm(false)" expand="full">
            Añadir
          </ion-button>
        </ion-col>
      </form>
    </ion-row>
  </ion-card-content>
</ion-card>