<ion-card>
  <ion-card-content>
    <ion-row justify-content-center align-items-center>
      <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
        <ion-col size="12">
          <ion-item>
            <ion-label>Barcode</ion-label>
            <ion-input formControlName="barcode" autofocus="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>Quantity:</ion-label>
            <ion-input formControlName="quantity"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-button color="success" shape="round" type="submit" type="submit" expand="full">Actualizar
          </ion-button>
        </ion-col>
      </form>
    </ion-row>
  </ion-card-content>
</ion-card>